/*
 * Globals
 */

.listing-element {
  margin-left: auto;
  margin-right: auto; 
}

.col-left {
  padding-right: 0px;
}

.col-right {
  padding-left: 0px;
}

.img-map {
  height:100%;
  margin-top: 10px;
}

.img-carousel {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  max-height: 400px;
}

.listing-container {
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
  color: black;
  margin-top: 20px;
  border: 2px solid #353535;
  position: relative;
}

.listing-title {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.rentalhound {
  background-color: black;
  padding-bottom: 25px;
  border: 2px solid #353535;
}

.result_img {
  height: 225px;
  overflow: hidden;
}

.result_row {
  color: black;

  height: 225px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
  margin-top: 30px;
  margin-bottom: 30px;
}

.left {
  margin-left: 0px;
  padding-left: 0px;
}

.right {
  margin-right: 0px;
  padding-right: 0px;
}

/* Links */
a,
a:focus,
a:hover {
  color: inherit;
}

/* Custom default button */
.btn-default,
.btn-default:focus {
  margin-top: 15px;
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.btn-default:hover {
  margin-top: 15px;
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #003366;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #003366;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 885px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 885px) {
  /* Pull out the header and footer */
  .result-container {
  margin-top: 165px;
  }
  .cover {
    margin-top: 150px;
  }
  .masthead {
    position: fixed;
    top: 0;
  }
  .masthead-solo {
    position: static;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner-solo {
    vertical-align: top;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .result-container {
  margin-top: 165px;
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 900px;
  }
}